body{
    background-color: blue;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    .form-section {
        display: inline !important
    }

    .form-pagebreak {
        display: none !important
    }

    .form-section-closed {
        height: auto !important
    }

    .page-section {
        position: initial !important
    }
}

.form-all {
    font-family: Lato, Helvetica, sans-serif sans-serif;
}

.form-line {
    margin-top: 12px 36px 12px 36px px;
    margin-bottom: 12px 36px 12px 36px px;
}

.form-all {
    max-width: 752px;
    width: 100%;
}

.form-label.form-label-left,
.form-label.form-label-right,
.form-label.form-label-left.form-label-auto,
.form-label.form-label-right.form-label-auto {
    width: 230px;
}

.form-all {
    font-size: 16px
}

.supernova .form-all,
.form-all {
    background-color: #fff;
}

.form-all {
    color: #2C3345;
}

.form-header-group .form-header {
    color: #2C3345;
}

.form-header-group .form-subHeader {
    color: #2C3345;
}

.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label,
span.FITB .qb-checkbox-label,
span.FITB .qb-radiobox-label,
span.FITB .form-radio label,
span.FITB .form-checkbox label,
[data-blotid][data-type=checkbox] [data-labelid],
[data-blotid][data-type=radiobox] [data-labelid],
span.FITB-inptCont[data-type=checkbox] label,
span.FITB-inptCont[data-type=radiobox] label {
    color: #2C3345;
}

.form-sub-label {
    color: #464d5f;
}

.supernova {
    background-color: #f8e71c;
}

.supernova body {
    background: transparent;
}

.form-textbox,
.form-textarea,
.form-dropdown,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: #fff;
}


.supernova {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.supernova,
#stage {
    background-image: none;
}

.form-all {
    background-image: none;
}

/*PREFERENCES STYLE*/
/*__INSPECT_SEPERATOR__*/
.supernova {
    background-image: linear-gradient(#f5f9f9, #87e3da);
    background-attachment: fixed;
}

.form-all {
    box-shadow: 0 0 32px rgba(42, 42, 42, 0.16);
}

/* .form-all,
#stage .formPage-stage.form-all,
.form-section.page-section {
    border-radius: 6px;
} */

.form-label.form-label-auto {

    display: block;
    float: none;
    text-align: left;
    width: 100%;

}

/* Injected CSS Code */