<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Dashboard</li>
            <li>
                <a href="{{ url('') }}" aria-expanded="false">
                    <i class="mdi mdi-home mdi-24px"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="calendar" aria-expanded="false">
                    <i class="mdi mdi-calendar mdi-24px"></i>
                    <span class="nav-text">Calendar</span>
                </a>
            </li>
            <li class="nav-label">Patient</li>
            <li>
                <a href="overall_records" aria-expanded="false">
                    <i class="icon icon-single-04"></i>
                    <span class="nav-text">Overview</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="records" aria-expanded="false">
                    <i class="mdi mdi-folder-outline mdi-24px"></i>
                    <span class="nav-text">Records</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/emergency-records">Emergency Patients</a></li>
                    <li><a href="inpatient_records" aria-expanded="false">In-Patients</a>
                    </li>
                    <li><a href="javascript:void()">Out-Patients</a></li>
                </ul>
            </li>
            <li class="nav-label">Transactions</li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="mdi mdi-monitor mdi-24px"></i>
                    <span class="nav-text">Transactions</span>
                </a>
            </li>